$color-primary: #4b0b22;

.program-section {
  background-color: $color-primary;
  padding-top: 65px;
  margin-top: -60px;
  padding-bottom: 50px;
  margin-bottom: -50px;
}

.program-image {
  width: 100%;
  height: auto;
  display: block;
}
