.fabric-divider {
  position: relative;
  z-index: 200;
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;

  img {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    pointer-events: none;
    z-index: 200;
  }
}
