$color-primary: #4b0b22;
$color-secondary: #f6ece3;

.footer-section {
  position: relative;
  overflow: visible;
  padding: 40px 20px;
  padding-bottom: 0;
  margin-top: -60px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/phone.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.99;
    z-index: 0;
  }
}

// Роза
.footer-roses-container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.footer-roses {
  max-width: 300px;
  width: 100%;
  height: auto;

  @media (max-width: 576px) {
    max-width: 200px;
  }
}

.animate-from-top {
  animation: slideFromTop 1s ease-out forwards;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// 1.svg
.footer-svg1-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

.footer-svg1 {
  max-width: 250px;
  width: 100%;
  height: auto;
  transform: rotate(-15deg);

  @media (max-width: 576px) {
    max-width: 180px;
  }
}

.animate-from-rose {
  animation: slideFromRose 1s ease-out 0.3s forwards;
  opacity: 0;
}

@keyframes slideFromRose {
  0% {
    transform: translateY(-50px) rotate(-15deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(-15deg);
    opacity: 1;
  }
}

// 2.svg
.footer-svg2-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

.footer-svg2 {
  max-width: 200px;
  width: 100%;
  height: auto;
  transform: rotate(-15deg);
  padding-bottom: 30px;
  margin-left: 250px;
  margin-top: -65px;

  @media (max-width: 576px) {
    max-width: 150px;
    margin-left: 150px;
  }
}

.animate-from-bottom {
  animation: slideFromBottom 1s ease-out 0.6s forwards;
  opacity: 0;
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100px) rotate(-15deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(-15deg);
    opacity: 1;
  }
}

// End
.footer-end-container {
  position: relative;
  z-index: 1;
  margin-left: -20px;
  margin-right: -20px;
}

.footer-end-image {
  width: 100%;
  height: auto;
  display: block;
}
