$color-primary: #4b0b22;
$color-secondary: #f6ece3;

.footer-section {
  position: relative;
  overflow: visible;
  padding: 0;

  @media (min-width: 768px) {
    padding: 150px 40px;
    padding-bottom: 0;
  }

  @media (min-width: 992px) {
    padding: 180px 60px;
    padding-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/phone.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.99;
    z-index: 0;
  }
}

// Роза
.footer-roses-container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;

  @media (min-width: 769px) {
    margin-top: -90px;
  }
}

.footer-roses {
  width: 150px;
  height: auto;
  opacity: 1;
  transform: translateY(-100%);
  padding-top: 35px;

  @media (min-width: 769px) {
    padding-top: 0;
    width: 350px;
  }

  @media (min-width: 992px) {
    width: 450px;
  }

  @media (min-width: 1200px) {
    width: 550px;
  }

  @media (min-width: 1500px) {
    width: 650px;
  }

  @media (min-width: 1800px) {
    width: 750px;
  }

  &.animate-slide-down {
    animation: slideDown 1s ease-out forwards;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

// SVG контейнер
.footer-svgs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-top: 15px;

  @media (min-width: 768px) {
    margin-top: 20px;
  }

  @media (min-width: 992px) {
    margin-top: 25px;
  }
}

.footer-svg1 {
  width: 250px;
  height: auto;
  transform: rotate(-15deg);
  opacity: 0;

  @media (min-width: 768px) {
    width: 350px;
  }

  @media (min-width: 992px) {
    width: 450px;
  }

  @media (min-width: 1200px) {
    width: 550px;
  }

  @media (min-width: 1500px) {
    width: 650px;
  }

  @media (min-width: 1800px) {
    width: 750px;
  }

  &.animate-from-rose {
    animation: slideFromRose 1s ease-out 0.3s forwards;
  }
}

.footer-svg2 {
  width: 220px;
  height: auto;
  transform: rotate(-15deg);
  opacity: 0;
  align-self: flex-end;
  margin-top: -30px;
  margin-right: 10%;

  @media (min-width: 768px) {
    width: 300px;
    margin-top: -50px;
  }

  @media (min-width: 992px) {
    width: 400px;
    margin-top: -70px;
  }

  @media (min-width: 1200px) {
    width: 500px;
    margin-top: -90px;
  }

  @media (min-width: 1500px) {
    width: 600px;
    margin-top: -110px;
  }

  @media (min-width: 1800px) {
    width: 700px;
    margin-top: -130px;
  }

  &.animate-from-bottom {
    animation: slideFromBottom 1s ease-out 0.6s forwards;
  }
}

@keyframes slideFromRose {
  0% {
    transform: translateY(-50px) rotate(-15deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(-15deg);
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100px) rotate(-15deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(-15deg);
    opacity: 1;
  }
}

// End
.footer-end-container {
  position: relative;
  z-index: 1;
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: 768px) {
    margin-left: -40px;
    margin-right: -40px;
  }

  @media (min-width: 992px) {
    margin-left: -60px;
    margin-right: -60px;
  }
}

.footer-end-image {
  width: 100%;
  height: auto;
  display: block;
}
